@* _AddRecipeButton.cshtml *@

<style>
    .add-recipe-icon {
        position: fixed;
        bottom: 55px;
        right: 40px;
        font-size: 40px;
        color: #fff;
        background-color: #dc3545;
        cursor: pointer;
        border-radius: 20%;
        padding: 6px;
    }

    .add-recipe-icon:hover {
        background-color: #c82333;
    }
</style>

<span id="addRecipeButton" class="d-flex material-symbols-outlined add-recipe-icon"
    onclick="window.location.href='/addRecipe'">
    add
</span>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (window.location.pathname === '/addRecipe') {
            document.getElementById('addRecipeButton').style.display = 'none';
        }
    });
</script>

</html>