@* _AddRecipeButton.cshtml *@

<link rel="stylesheet" href="~/css/_AddRecipeButton.css" />

<span id="addRecipeButton" class="d-flex material-symbols-outlined add-recipe-icon"
    onclick="window.location.href='/addRecipe'">
    add
</span>

<script src="~/js/_AddRecipeButton.js"></script>