@* _ExploreRecipe *@

<link rel="stylesheet" href="~/css/_ExploreRecipe.css" />

<div class="explore-recipe-con">
    <p class="explore-recipe-text">EXPLORE RECIPES</p>
    <div class="d-flex flex-wrap justify-content-between explore-recipe-img-con">
        <div class="d-flex flex-column explore-recipe-img" id="2e2d7e5e-8c4b-4e5e-9f1d-8e5e8c4b4e5e">
            <div class="img-con">
                <img src="https://www.allrecipes.com/thmb/Vg2cRidr2zcYhWGvPD8M18xM_WY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/11973-spaghetti-carbonara-ii-DDMFS-4x3-6edea51e421e4457ac0c3269f3be5157.jpg" />
                <div class="d-flex justify-content-center align-items-center overlap">
                    <span class="material-symbols-outlined">
                        skillet
                    </span>
                </div>
            </div>
            Spaghetti Carbonara
        </div>
    </div>
</div>

<script src="~/js/_ExploreRecipe.js"></script>