@* _MainSuggestions.cshtml *@
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="~/css/_MainSuggestions.css" />

<div class="d-flex justify-content-center suggestion-con">
	<div class="swiper-container">
		<div class="swiper-wrapper" id="suggestion-wrapper"></div>
	</div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="~/js/_MainSuggestions.js"></script>


