@* _RecipeFeed *@

<link rel="stylesheet" href="~/css/_RecipeFeed.css" />

<div class="d-flex flex-column m-2 recipe-feed">
	<p class="fs-1 fw-bold">Recipes</p>
	<p class="fs-6">Original recipes, tested, tasted, and approved by Serious Eats to ensure great results. Find
		inspiration or filter by ingredient, course, cuisine, diet, method, or season.</p>
	<div class="d-flex flex-row recipe-active-feed">
		<div class="d-flex flex-row sub-feed">
			<img
				src="https://www.seriouseats.com/thmb/2RJ8RMgtfZCAphiWZAhDHQiBVaU=/390x273/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/20241223-SEA-TopNewsletterRecipes-7de0560db5314d72931c9c32ab72f567.jpg" />
			<p>Tuna Salad, Corn Casserole, and Many More Classics: Our Most Popular Newsletter Recipes of 2024</p>
		</div>
		<div class="d-flex flex-row sub-feed">
			<img
				src="https://www.seriouseats.com/thmb/VYHh5JH_LyyL0tmLvpkKR-wNQFU=/390x273/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/20231204-MostPopularof2024-c9e6c141a3b847399b02a2cd047e8f0e.jpg" />
			<p>Prepare to Click "Save": Our Most Popular Recipes of 2024</p>
		</div>
	</div>
</div>
