@* _Slogan.cshtml *@

<link href="https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/_Slogan.css" />

<div class="d-flex mx-auto mt-4 py-2 slogan-text-con">
	<p class="slogan-text">
		<span class="material-symbols-outlined">
			air
		</span>
		Practical recipes for:
		<span class="d-none d-md-inline">&nbsp;</span>
		<span class="d-inline d-md-none w-100"></span>
		<span class="custom-span">
			everyday moments!
		</span>
	</p>
</div>




