.explore-recipe-con {
    width: 320px;
    height: 543px;
}

.explore-recipe-con .explore-recipe-text {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #b03b53;
    margin-bottom: 20px;
}

.explore-recipe-con .explore-recipe-img-con {
    width: 100%;
    height: 100%;
}

.explore-recipe-con .explore-recipe-img {
    row-gap: 10px;
    width: 152px;
    height: fit-content;
    text-align: center;
    color: #27536d;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    position: relative;
}

.explore-recipe-con .explore-recipe-img img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.explore-recipe-con .explore-recipe-img:hover {
    text-decoration: underline;
}

.explore-recipe-con .explore-recipe-img:hover .overlap {
    display: flex !important;
}

.explore-recipe-con .img-con {
    position: relative;
}

.explore-recipe-con .img-con img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.explore-recipe-con .overlap {
    display: none !important;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.explore-recipe-con .overlap span {
    color: #fff;
}
