@* _AboutContent *@

<style>
	@@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Delius+Swash+Caps&display=swap');

	.about-content {
		width: 700px;
		font-family: 'Montserrat', sans-serif;
		margin-right: 80px;
	}

		.about-content h2 {
			color: #27536d;
		}

		.about-content h4 {
			font-size: 22px;
			font-family: "Bona Nova SC", serif;
			font-style: italic;
			text-align: center;
		}

		.about-content p {
			font-size: 19px;
			font-family: "Bona Nova SC", serif;
		}

		.about-content img {
			width: 100%;
			height: auto;
			margin-bottom: 35px;
		}
</style>


<div class="d-flex flex-column about-content">
	<h2 class="mb-4">Hi, I'm Alex!'</h2>
	<h4 class="mb-4">Alex's cookbook is a personal recipe website created by Alex, an aspiring chef with a passion for crafting delicious and inventive dishes. Designed to share his love for cooking, MyCookBook provides family and friends with easy-to-follow recipes made from simple, everyday ingredients.</h4>
	<img src="/img/chef-about-pic.jpg" />
	<p class="mb-4">
		Hey, I’m Alex! Welcome to my cook book – a personal space where I share my love for cooking with family and friends. I’m a self-taught cook who enjoys experimenting with flavors and creating unique dishes that everyone can enjoy.

		My goal is to help you turn simple ingredients into delicious meals that you’ll be proud to share. I love discovering new techniques and refining recipes to make cooking fun and accessible for everyone.

		Every recipe on MyCookBook is created, tested, and perfected by me. This website is my way of bringing my favorite dishes to life and sharing them with those who appreciate good food.

		Whether you’re just starting out in the kitchen or a seasoned home cook, you’ll find something here to inspire you. Feel free to explore my recipes, and let’s cook something amazing together!
	</p>
</div>